<template name="addCode">
    <div class="col-md-6">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Add Company</h3>
                <span class="pull-right clickable"><i class="glyphicon glyphicon-chevron-up"></i></span>
            </div>
            <div id="addcode-panel-content" class="panel-collapse collapse in">
                <div class="panel-body">
                    {{> quickForm collection="Codes" id="addCode" omitFields="seen" type="method-update" meteormethod="addCode"}}
                </div>
            </div>
        </div>
    </div>
</template>

