<template name="export">
    <div class="col-md-6">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Export to CSV</h3>
                <span class="pull-right clickable"><i class="glyphicon glyphicon-chevron-up"></i></span>
            </div>
            <div id="export-panel-content" class="panel-collapse collapse in">
                <div class="panel-body">
                    <button class="export-data btn btn-success" data-loading-text="Exporting...">Export Data</button>
                </div>
            </div>
        </div>
    </div>
</template>
